{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Nadia Syafitri</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
		<meta name="author" content="nadia.syafitri@ui.ac.id">
		<meta name="robots" content="index, follow">

		<!-- icons -->
		<link rel="icon" href="https://banner2.kisspng.com/20180330/whq/kisspng-common-daisy-flower-white-stock-photography-daisy-5abee3d5168134.7019189615224596050922.jpg" type="image/gif" sizes="16x16">

		<!-- Bootstrap Core CSS file -->
		<link rel="stylesheet" href= "{%static "css/bootstrap.min.css" %}">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="{%static "css/styles.css" %}">

		<!-- Conditional comment containing JS files for IE6 - 8 -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>


		{% block content %}{% include 'navbar.html' %}{% endblock %}

			<!-- /.row -->

			<div class="row margin-b-2">
				<div class="col-sm-6">
					<div class="whitebox" id="border1">
						<img id="display" src="{%static "img/Nadia.jpg" %}"; width="150"; height="150">
						<h1 id="Headerfont1"> Nadia Syafitri </h1>
						<h4 id="itemfont2"> Jakarta, January 17th 2000<h4>
							<p id="itemfont3"> I'm currently pursuing Computer Science Degree <br>
								at University of Indonesia</p>

					</div>
				</div>
				<div class="col-sm-6">
					<div class="educationbox">
						<div class="row" id="row-1">
							<p id= timeline1>SMPN 85 Jakarta <br> &nbsp &nbsp &nbsp 2011-2014</p>
						</div>
						<div class="row">
							<p id= timeline2>SMAN 34 Jakarta <br> &nbsp &nbsp &nbsp 2014-2017</p>
						</div>
					</div>
					<h1 id="Headerfont2"> EDUCATION </h1>
				<br>
				</div>
			</div>
			<!-- /.row -->

			<div class="row margin-b-2">
				<div class="col-sm-6" >
					<div class="row-md-2" style="padding-bottom:20px;">
					<div class="bluebox">
						<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/5dbf16c6dbb044f4b346c47d81a5a89f?quality=95&fake=.png"; width="80"; height="80">
						<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/b8427b2b677f445398dd0fe7997a9eb6?quality=95&fake=.png"; width="80"; height="80">
						<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/beaa9dc0e4c24fb69ea74082ee0ebd31?quality=95&fake=.png"; width="80"; height="80">
						<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/7f301779ee8f4fb6a658ac5330c3bfd6?quality=95&fake=.png"; width="80"; height="80">
					</div>
						<div class="educationbox" id="orangesize">
							<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/d684d74b26054e07ab4fbe63c4407f06?quality=95&fake=.png"; width="80"; height="80">
							<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/0053c5ff84624f6e821744e5b147e4e9?quality=95&fake=.png"; width="80"; height="80">
							<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/780c1e37d53c4da6a49e9bb0e7ae99e4?quality=95&fake=.png"; width="80"; height="80">
							<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/9ca0b19918a84353829b8cebdef85c57?quality=95&fake=.png"; width="80"; height="80">
							<img id="display3" src="https://marvel-live.freetls.fastly.net/canvas/2018/9/4325f6b78681421597583a5b7ce8fc1c?quality=95&fake=.png"; width="80"; height="80">
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="element">
					<h3 class="UIUXmargin" id="Headerfont"> UI/UX Designer </h3>
					<div class="caption UIUXmargin">
						<ol id="itemfont">
							<li> Gathering and evaluating user requirements, in collaboration with product managers and engineers </li>
							<li> Illustrating design ideas using storyboards, process flows and sitemaps </li>
							<li>Designing graphic user interface elements, like menus, tabs and widgets</li>
						</ol>
					</div>
				</div class="row">
				<h1 id="Headerfont2"> WORK EXPERIENCE </h1>
				</div>
			</div>
			<!-- /.row -->

			<div class="row margin-b-2">
				<div class="col-sm-6">
					<div class="educationbox">
						<h3 class="UIUXmargin" id="Headerfont">COMPFEST X</h3>
							<h5 class="UIUXmargin" id="italic"> Staff of Playground</h5>
						<ul id="itemfont4">
							<li>Person in Charge Playground on Main Event</li>
							<li>Person in Charge Open Registration Playground</li>
							<li>Approached more than 20 IT startups for the exhibiton.</li>
					</div>
					<h1 id="Headerfont2"> VOLUNTEERS </h1>
				</div>
				<div class="col-sm-6">
					<div class="whitebox" id="border2">
						<img id="display2" src="https://i.pinimg.com/564x/2e/4b/c5/2e4bc5ab1f9cdbc10d54bdac33d26ccb.jpg"; width="150"; height="150">
					</div>
					<h1 id="Headerfont2"><a href="{% url 'profilenadia:portofolio'%}"> PORTOFOLIO</a> </h1>
				</div>
			</div>
			<!-- /.row -->


		<!-- JQuery scripts -->
	    <script src="{%static "js/jquery-1.11.2.min.js"%}"></script>

		<!-- Bootstrap Core scripts -->
		<script src="{%static "js/bootstrap.min.js"%}"></script>
  </body>
</html>
