{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portofolio</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static "css/thumbnail-gallery.css"%}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    {% block content %}{% include 'navbar.html' %}{% endblock %}


    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-lg-left">Portofolio</h1>

      <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/1935071/screenshots/4575482/sdfsffd.png" alt="" >
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://i.pinimg.com/564x/b1/2e/17/b12e17bb7ea033364c121a5e8a2594a7.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/1094383/screenshots/4674641/hq2.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/1588664/screenshots/4539133/0000.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/1588664/screenshots/4677338/end.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/2933/screenshots/4660545/ezgif.com-video-to-gif-long.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/793057/screenshots/3031884/pull-to-refresh_1.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/1167581/screenshots/3135876/render.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/93245/screenshots/2947795/job_app_concept.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/572419/screenshots/4477691/set7.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/507649/screenshots/3439906/afterpay_app_onboarding.gif" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://cdn.dribbble.com/users/62549/screenshots/4578758/booksley.gif" alt="">
          </a>
        </div>
      </div>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="{%static "js/jquery.min.js"%}"></script>
    <script src="{%static "js/bootstrap.bundle.min.js" %}"></script>

  </body>

</html>
