{% load static %}
<DOCTYPE! html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register Account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
  <meta name="author" content="nadia.syafitri@ui.ac.id">
  <meta name="robots" content="index, follow">

  <!-- icons -->
  <link rel="icon" href="https://banner2.kisspng.com/20180330/whq/kisspng-common-daisy-flower-white-stock-photography-daisy-5abee3d5168134.7019189615224596050922.jpg" type="image/gif" sizes="16x16">

  <!-- Bootstrap Core CSS file -->
  <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">

  <!-- Override CSS file - add your own CSS rules -->
  <link rel="stylesheet" href="{%static "css/styles.css" %}">

  <body>
    <!-- Navigation -->
      {% block content %}{% include 'navbar.html' %}{% endblock %}
        <!-- /.navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#"></a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- /.navbar -->

  <div class="row-md-12">
    <div class="column-md-6">
    <div class="registerbox">
      <h1 id="registerfont"> Register Yourself</h1>
      <div class="row-md-1">
        <div class="col-md-3">
      <div class="form-group">
        <label id="regfont" for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
      </div>
            <div class="form-group">
              <label id="regfont" for="usr">Birthdate:</label>
              <input type="date" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label id="regfont" for="usr"> Email:</label>
                <input type="email" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label id="regfont" for="usr">Username:</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label id="regfont" for="usr">Password:</label>
                <input type="password" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label id="regfont" for="usr">Password Confirmation:</label>
                <input type="password" class="form-control" id="usr">
              </div>
              <div class="regbutton">
              <input type="button" onclick="alert('Registered!')" value="register">
            </div>
              </div>
              </div>
            </div>
          </div>
        </div>









  </body>
</head>
</html>
