{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Nadia Syafitri</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
		<meta name="author" content="nadia.syafitri@ui.ac.id">
		<meta name="robots" content="index, follow">

		<!-- icons -->
		<link rel="icon" href="https://banner2.kisspng.com/20180330/whq/kisspng-common-daisy-flower-white-stock-photography-daisy-5abee3d5168134.7019189615224596050922.jpg" type="image/gif" sizes="16x16">

		<!-- Bootstrap Core CSS file -->
		<link rel="stylesheet" href= "{%static "css/bootstrap.min.css" %}">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="{%static "css/styles.css" %}">

		<!-- Conditional comment containing JS files for IE6 - 8 -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
    {% block content %}{% include 'navbar.html' %}{% endblock %}
    <div class="container">
    <div class="col-1">
      <div class="row-md-10">
    <section name="form">
          <h2>Write your Schedule!</h2>
          <form id="form" method="POST" action="{% url 'profilenadia:schedule' %}">
              {% csrf_token %}
              {{ Agenda_Form }}
              <br>
              <button type="submit" class="save btn btn-default">Add</button>
							<a href="{% url 'profilenadia:delete_all' %}"  class="save btn btn-default">Delete All</a>
          </form>
      </section>
    </div>
  </div>

<div class="container">
  <div class="col-md-7">
  <div class="row-md-10">
      <table class="table">
        <thead>
            <th>Name of activity</th>
            <th>Place</th>
            <th>Date</th>
            <th>Time</th>
            <th>Category</th>
        </thead>
            <tbody>
                {% for i in schedule %}
                <tr>
                    <td> {{ i.nama_kegiatan }} </td>
                    <td> {{ i.tempat }} </td>
                    <td> {{ i.date }} </td>
                    <td> {{ i.time }} </td>
										<td> {{ i.kategori }} </td>
									 </tr>
                {% endfor %}
            </tbody>
        </table>
  </div>
</div>

  </body>
  </html>
